html,
body {
  width: 100%;
  height: 100%;
  background: darkgray;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  user-select: none;
  font-size: 14px;
  overflow: hidden;
}

/* TOPBAR */
#topbar {
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

#topbar span {
  height: 100%;
  vertical-align: middle;
  line-height: 40px;
  padding: 0 10px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex-item;
  min-width: 85px;
}

#topbar span label {
  width: 100%;
  height: 100%;
  display: block;
}

#topbar .action {
  cursor: pointer;
}

#topbar .action:hover {
  color: gray;
}

#topbar .action:active {
  background: gray;
}

#topbar span input {
  width: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#topbar span input::-webkit-outer-spin-button,
#topbar span input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CANVAS */
#pageContainer {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 45px;
  bottom: 5px;
  visibility: hidden;
  overflow: scroll;
}

#pageContainer .page {
  display: block;
  margin: 10px auto;
  position: relative;
}

#pageContainer .page canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#pageContainer .page .wordCanvas {
  z-index: 2;
  visibility: hidden;
}

#pageContainer .page .tableCanvas {
  z-index: 3;
}

/* BOTTOM BAR */
#bottomBar {
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: 0;
  padding: 5px;
  padding-left: 25px;
  background: gray;
  opacity: 0.6;
  font-size: 12px;
  visibility: hidden;
}